@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes music-bar {
    0%,
    100% {
      height: 4px;
    }
    50% {
      height: 16px;
    }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
